@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", system-ui;
}

.sidebar {
    overflow-y: scroll;
    scrollbar-width: none;
}

@media (max-width: 992px) {
    .sidebar {
        position: absolute;
        top: 52px;
        left: -100%;
        height: 100vh;
        width: 50vw !important;
        z-index: 50;
        transition: all 0.5s ease;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    }

    .sidebar.show {
        left: 0;
    }
}

@media (max-width: 576px) {
    .sidebar {
        width: 100vw !important;
    }
}

.logo {
    width: 130px;
}

.nav-link:hover,
.nav-link:hover .title,
.nav-link:hover .icon,
.active .nav-link,
.active .title,
.active .icon {
    color: #ff3a54 !important;
    background-color: #ffeeee;
}

.nav-link:hover::before,
.active .nav-link::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: #ff3a54;
    transform: all 0.5s ease;
}

.nav-link:hover .link-subtitle {
    color: #ff3a54 !important;
    padding-left: 25px !important;
}

.dropdown-toggle::after {
    display: none !important;
} 

/* Content Styles */
.sidebar-icon {
    display: none;
}

@media (max-width: 992px) {
    .sidebar-icon {
        display: flex !important;
    }
}

.bell::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff3a54;
}

.profile:hover {
    transform: scale(0.95);
}

#langs_list,
#stores_list {
    width: 94px;
}

.dropdown-menu {
    min-width: 130px !important;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.dropdown-menu .dropdown-item:hover {
    color: #ff3a54;
    background-color: #FFEEEE;
}

.custom-card {
    height: 14vh;
    min-height: 14vh;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    padding: 15px 20px;
}

@media (min-width: 1600px) {
    .custom-card {
        padding: 25px 35px !important;
    }
}

@media (max-width: 576px) {
    .custom-card {
        height: 90px;
    }
    
    .card-title {
        font-size: 16px;
    }

    .card-value {
        font-size: 22px;
    }
}

.chart-card {
    height: 35vh;
    min-height: 30vh;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    padding: 10px 20px;
}

@media (min-width: 1600px) {
    .chart-card {
        padding: 20px 30px !important;
    }
}

.sales-chart,
.payments-chart {
    height: 80%;
}

.customers-chart {
    height: 90%;
}

.bullet {
    width: 12px;
    height: 12px;
}

.bullet.pen {
    background-color: #FFB466;
}

.bullet.in {
    background-color: #FFD2A3;
}

.bullet.com {
    background-color: #FF8200
}

.bullet.can {
    background-color: #FFE1C2;
}

@media (max-width: 576px) {
    .tip-name {
        font-size: 16px;
    }
    .payments-tip {
        font-size: 14px;
    }
}

.payments-tip span {
    width: 18px;
    height: 18px;
}

@media (max-width: 576px) {
    .payments-tip span {
        width: 12px;
        height: 12px;
    }
}

.payments-tip span.paid {
    background-color: #31C2F6;
}

.payments-tip span.unpaid {
    background-color: #725CFF;
}

@media (min-width: 1600px) {
    .recommend-title {
        font-size: 24px !important;
    }
}

/* Calender Styles */
.calender-window {
    width: 550px;
    z-index: 10;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
    .calender-window {
        width: 400px;
    }
}

.calender.show .calender-window {
    display: flex !important;
}

@media (max-width: 768px) {
    .calender.show .calender-window {
        left: -50px;
    } 
}

@media (max-width: 576px) {
    .calender.show .calender-window {
        left: -50px;
        width: 320px;
    } 
}

.calender-window .nav-item {
    width: 100%;
    height: 35px;
}

@media (max-width: 768px) {
    .calender-window .nav-item {
        height: 26px;
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .calender-window .nav-item {
        height: 24px;
        font-size: 10px;
    }
}

.calender-window .nav-item:hover {
    color: #ff3a54;
    background-color: #FFEEEE;
}

@media (max-width: 768px) {
    .monthYearDisplay {
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .monthYearDisplay {
        font-size: 16px;
    }
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

@media (max-width: 576px) {
    .weekdays {
        font-size: 12px;
    }
}

.days-of-month {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day-of-month {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 400;
    color: #090B12;
    transition: 0.5s;
    user-select: none;
}

@media (max-width: 768px) {
    .day-of-month {
        font-size: 12px;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 576px) {
    .day-of-month {
        width: 26px;
        height: 26px;
    }
}

.day-of-month.current-day,
.day-of-month:hover {
    color: white;
    background: #ff3a54;
}

.calender-btn {
    width: 100px;
    height: 30px;
}

@media (max-width: 768px) {
    .calender-btn {
        font-size: 16px;
        width: 80px;
        height: 30px;
    }
}

@media (max-width: 576px) {
    .calender-btn {
        height: 26px;
    }
}

.calender-btn:hover {
    transform: scale(0.98);
}

.calender-btn.apply {
    color: white;
    background-color: #ff3a54;
}

.calender-btn.cancel {
    border: 2px solid #ff3a54;
}

/* Notifications Styles */
.notifications-panel {
    position: absolute;
    top: 100%;
    right: -1000px;
    width: 430px;
    height: calc(100vh - 52px);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    z-index: 30;
}

@media (max-width: 576px) {
    .notifications-panel {
        width: calc(100% + 20px);
    }
}

.notifications-panel.show {
    right: -20px;
}

.notifications-panel .notifications {
    height: calc(50% - 20px);
}

.notifications-panel .notification-time,
.notifications-panel .notification-history {
    width: 80px;
}

.notifications-panel .notification-history {
    width: 100px;
}

.notification-btn:hover,
.notification-btn:hover > i {
    color: #ff3a54 !important;
}
